http://pandas.pydata.org/pandas-docs/stable/10min.html

# 10 Minutes to pandas

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

In [2]:
import pandas as pd # pd is an alias to pandas and * in the jupyter notebook it is current execution
import numpy as np# for arrays(series) and cs comma seperated values to store data 
import matplotlib.pyplot as plt# , it is delimiter and

Customarily, we import as follows:

In [3]:
%matplotlib inline

## Object Creation

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [4]:
s = pd.Series([1,3,5,np.nan,6,8]) #np numpy

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
y= s.copy()

In [8]:
s.dropna(inplace=True)

In [9]:
s

0    1.0
1    3.0
2    5.0
4    6.0
5    8.0
dtype: float64

In [10]:
y

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [ ]:
y = s.copy()

In [ ]:
y

In [13]:
dates = pd.date_range('20180816', periods=10)

In [16]:
f=pd.date_range(start='20180816',end='20180819')

In [17]:
f

DatetimeIndex(['2018-08-16', '2018-08-17', '2018-08-18', '2018-08-19'], dtype='datetime64[ns]', freq='D')

In [14]:
dates

DatetimeIndex(['2018-08-16', '2018-08-17', '2018-08-18', '2018-08-19',
               '2018-08-20', '2018-08-21', '2018-08-22', '2018-08-23',
               '2018-08-24', '2018-08-25'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list('ABCD'))

In [21]:
df

                   A         B         C         D
2018-08-16 -0.976190 -0.691366 -0.859565  0.960676
2018-08-17 -0.207052  0.659834 -0.853068  0.037542
2018-08-18  2.003782  1.277017  1.412254 -0.676139
2018-08-19 -0.069279  0.351960 -0.922637 -0.574409
2018-08-20  0.440682  0.611913 -1.568057 -0.660572
2018-08-21 -0.396181  1.626626  0.325902 -1.424691
2018-08-22 -0.519435  2.552420  0.623051 -0.139396
2018-08-23  0.598936 -0.790069 -0.456958  1.909596
2018-08-24  1.793231 -0.854749  0.445454  2.684845
2018-08-25 -1.691489  2.188992  1.134455 -1.284901

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [23]:
df2 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(5)),dtype='float32'),
                   'D':np.array([3]*5,dtype='int32'),
                   'E':pd.Categorical(["test","train","test","train","Five"]),
                   'F':'foo'})

In [24]:
df2.shape

(5, 6)

In [25]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
4  1.0 2013-01-02  1.0  3   Five  foo

In [26]:
df2.A# df2['A'] , df2.T transpose , df2.dtypes shows the datatypes

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: A, dtype: float64

Having specific [dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)

In [27]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

In [ ]:
# df2.<TAB>  df2 is a dataframe and . is period operator afterthat methods

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

## Viewing Data

See the [Basics section](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics)

See the top & bottom rows of the frame

In [31]:
df.head(2)

                   A         B         C         D
2018-08-16 -0.976190 -0.691366 -0.859565  0.960676
2018-08-17 -0.207052  0.659834 -0.853068  0.037542

In [32]:
df.tail()

                   A         B         C         D
2018-08-21 -0.396181  1.626626  0.325902 -1.424691
2018-08-22 -0.519435  2.552420  0.623051 -0.139396
2018-08-23  0.598936 -0.790069 -0.456958  1.909596
2018-08-24  1.793231 -0.854749  0.445454  2.684845
2018-08-25 -1.691489  2.188992  1.134455 -1.284901

Display the index, columns, and the underlying numpy data

In [33]:
df.index

DatetimeIndex(['2018-08-16', '2018-08-17', '2018-08-18', '2018-08-19',
               '2018-08-20', '2018-08-21', '2018-08-22', '2018-08-23',
               '2018-08-24', '2018-08-25'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
df.values

array([[-0.97618997, -0.69136573, -0.85956459,  0.96067613],
       [-0.20705232,  0.65983361, -0.85306754,  0.03754203],
       [ 2.00378193,  1.27701743,  1.41225447, -0.6761393 ],
       [-0.06927867,  0.35195996, -0.92263703, -0.57440875],
       [ 0.44068191,  0.61191328, -1.56805657, -0.66057246],
       [-0.3961814 ,  1.62662623,  0.3259015 , -1.42469077],
       [-0.51943465,  2.55241999,  0.62305145, -0.13939569],
       [ 0.59893639, -0.790069  , -0.45695811,  1.90959618],
       [ 1.79323073, -0.85474868,  0.44545351,  2.68484476],
       [-1.69148888,  2.18899245,  1.13445539, -1.28490125]])

Describe shows a quick statistic summary of your data

In [36]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.097701   0.693258  -0.071917   0.083255
std     1.153584   1.226723   0.994876   1.359475
min    -1.691489  -0.854749  -1.568057  -1.424691
25%    -0.488621  -0.430534  -0.857940  -0.672248
50%    -0.138165   0.635873  -0.065528  -0.356902
75%     0.559373   1.539224   0.578652   0.729893
max     2.003782   2.552420   1.412254   2.684845

Transposing your data

In [ ]:
df.T

Sorting by an axis

In [37]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2018-08-16  0.960676 -0.859565 -0.691366 -0.976190
2018-08-17  0.037542 -0.853068  0.659834 -0.207052
2018-08-18 -0.676139  1.412254  1.277017  2.003782
2018-08-19 -0.574409 -0.922637  0.351960 -0.069279
2018-08-20 -0.660572 -1.568057  0.611913  0.440682
2018-08-21 -1.424691  0.325902  1.626626 -0.396181
2018-08-22 -0.139396  0.623051  2.552420 -0.519435
2018-08-23  1.909596 -0.456958 -0.790069  0.598936
2018-08-24  2.684845  0.445454 -0.854749  1.793231
2018-08-25 -1.284901  1.134455  2.188992 -1.691489

Sorting by value

In [38]:
df.sort_values(by='B') # sort by given coloumn

                   A         B         C         D
2018-08-24  1.793231 -0.854749  0.445454  2.684845
2018-08-23  0.598936 -0.790069 -0.456958  1.909596
2018-08-16 -0.976190 -0.691366 -0.859565  0.960676
2018-08-19 -0.069279  0.351960 -0.922637 -0.574409
2018-08-20  0.440682  0.611913 -1.568057 -0.660572
2018-08-17 -0.207052  0.659834 -0.853068  0.037542
2018-08-18  2.003782  1.277017  1.412254 -0.676139
2018-08-21 -0.396181  1.626626  0.325902 -1.424691
2018-08-25 -1.691489  2.188992  1.134455 -1.284901
2018-08-22 -0.519435  2.552420  0.623051 -0.139396

## Selection

**Note:** While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation [Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and [MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

### Getting

Selecting a single column, which yields a Series, equivalent to df.A

In [ ]:
df['A']

Selecting via [], which slices the rows.

In [ ]:
df[0:3] # rows

In [ ]:
df['20130103':'20130105'] # silice by indeces

In [39]:
df.iloc[:,0:3] # rows and cols

                   A         B         C
2018-08-16 -0.976190 -0.691366 -0.859565
2018-08-17 -0.207052  0.659834 -0.853068
2018-08-18  2.003782  1.277017  1.412254
2018-08-19 -0.069279  0.351960 -0.922637
2018-08-20  0.440682  0.611913 -1.568057
2018-08-21 -0.396181  1.626626  0.325902
2018-08-22 -0.519435  2.552420  0.623051
2018-08-23  0.598936 -0.790069 -0.456958
2018-08-24  1.793231 -0.854749  0.445454
2018-08-25 -1.691489  2.188992  1.134455

### Selection by Label

See more in [Selection by Label](Selection by Label)

For getting a cross section using a label

In [42]:
df.loc[dates[0]]

A   -0.976190
B   -0.691366
C   -0.859565
D    0.960676
Name: 2018-08-16 00:00:00, dtype: float64

Selection by Label

In [43]:
df.loc[dates[0]:dates[3],['A','B']]

                   A         B
2018-08-16 -0.976190 -0.691366
2018-08-17 -0.207052  0.659834
2018-08-18  2.003782  1.277017
2018-08-19 -0.069279  0.351960

Showing label slicing, both endpoints are included

In [45]:
df.loc['20180802':'20180817',['A','B']] # loc name iloc indicies

                   A         B
2018-08-16 -0.976190 -0.691366
2018-08-17 -0.207052  0.659834

Reduction in the dimensions of the returned object

In [ ]:
df.loc["2018-08-16"]

In [ ]:
df["A"]

In [ ]:
df.loc['20130102',['A','B']]

In [46]:
df.loc[[pd.Timestamp(t) for t in ['20180816','20180820']],['A','B']]

                   A         B
2018-08-16 -0.976190 -0.691366
2018-08-20  0.440682  0.611913

For getting a scalar value

In [ ]:
type(df.loc[dates[0],'A'])

### Selection by Position

See more in [Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python

In [ ]:
df.iloc[3:5,1:5:2]

By lists of integer position locations, similar to the numpy/python style

In [ ]:
df.iloc[1:5:2,[0,2]]

For slicing rows explicitly

In [ ]:
df.iloc[1:3,:]

For slicing columns explicitly

In [ ]:
df.iloc[:,1:3]

For getting a value explicitly

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.iat[1,1]

## Boolean Indexing

Using a single column’s values to select data.

In [47]:
x= df.A>0 # df[df["1"]>0]

In [48]:
x

2018-08-16    False
2018-08-17    False
2018-08-18     True
2018-08-19    False
2018-08-20     True
2018-08-21    False
2018-08-22    False
2018-08-23     True
2018-08-24     True
2018-08-25    False
Freq: D, Name: A, dtype: bool

In [49]:
df[df["A"]>0]

                   A         B         C         D
2018-08-18  2.003782  1.277017  1.412254 -0.676139
2018-08-20  0.440682  0.611913 -1.568057 -0.660572
2018-08-23  0.598936 -0.790069 -0.456958  1.909596
2018-08-24  1.793231 -0.854749  0.445454  2.684845

In [50]:
df[df.A > 0]

                   A         B         C         D
2018-08-18  2.003782  1.277017  1.412254 -0.676139
2018-08-20  0.440682  0.611913 -1.568057 -0.660572
2018-08-23  0.598936 -0.790069 -0.456958  1.909596
2018-08-24  1.793231 -0.854749  0.445454  2.684845

A where operation for getting.

In [51]:
df[df > 0]

                   A         B         C         D
2018-08-16       NaN       NaN       NaN  0.960676
2018-08-17       NaN  0.659834       NaN  0.037542
2018-08-18  2.003782  1.277017  1.412254       NaN
2018-08-19       NaN  0.351960       NaN       NaN
2018-08-20  0.440682  0.611913       NaN       NaN
2018-08-21       NaN  1.626626  0.325902       NaN
2018-08-22       NaN  2.552420  0.623051       NaN
2018-08-23  0.598936       NaN       NaN  1.909596
2018-08-24  1.793231       NaN  0.445454  2.684845
2018-08-25       NaN  2.188992  1.134455       NaN

Using the isin() method for filtering:

In [52]:
df2 = df.copy()

In [56]:
df2['E'] = ['one','one', 'two','three','four','three']

ValueError: Length of values does not match length of index

In [ ]:
df2['F'] = df2["A"] + df2["B"]

In [ ]:
df2

## Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [ ]:
df1

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

In [ ]:
df1

Filling missing data

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are nan

In [ ]:
pd.isnull(df1)

## Operations

See the [Basic section on Binary Ops](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)

### Stats

Operations in general exclude missing data.

Performing a descriptive statistic

In [57]:
df.mean()

A    0.097701
B    0.693258
C   -0.071917
D    0.083255
dtype: float64

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

### Apply

Applying functions to the data

In [ ]:
df

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min(),axis = 1)

### Histogramming

See more at [Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [ ]:
s

In [ ]:
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

## Merge

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the [Merging section](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging)

Concatenating pandas objects together with concat():

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pieces

In [ ]:
pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

### Append

Append rows to a dataframe. See the [Appending](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [ ]:
df

In [ ]:
s = df.iloc[3]

In [ ]:
df.append(s, ignore_index=True)

## Grouping

By “group by” we are referring to a process involving one or more of the following steps

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

See the [Grouping section](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                     'D' : np.random.randn(8)})

In [ ]:
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

## Getting Data In/Out

### CSV
[Writing to a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv)

In [ ]:
df.to_csv('foo.csv')

[Reading from a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table)

In [ ]:
pd.read_csv('foo.csv')

Reading from a HDF5 Store